.custom-calendar {
    border: none;
    width: 100%;
    border: #4a5568;
  }
  
  .react-calendar {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
  }
  
  .react-calendar__tile {
    padding: 10px;
    font-size: 1rem;
    color: #4a5568;
    border-radius: 6px;
    transition: background-color 0.2s ease;
  }
  
  .react-calendar__tile:hover {
    background-color: #f0f5ff;
  }
  
  .react-calendar__tile--now {
    background-color: #e0e7ff;
    border-radius: 6px;
  }
  
  .react-calendar__tile--active {
    background-color: #4a90e2;
    color: white;
    border-radius: 6px;
  }
  